## Data Science - high-school workshop

### Introduction

Hi! Welcome to the first Lambda School workshop for high-school students.

(other stuff if needed)

### Show me the data!

So, since this workshop is called "data science" we're going to work with data. You're all probably very familiar with where a lot of data comes from:

* data collected when you surf the internet, watch Netflix, or shop online
* data collected by schools and health departments
* data collected for a census or an election
* data collected for science experiements and medical research, 

It would be hard to find a situation where data is *not* collected in some way. Even things in your home collect data about you! ("Alexa, when did I last listen to Baby Shark?")

#### Why?

We collect data so we can later analyze it and learn something. What we learn depends on both the data and what sorts of questions we ask. When we have some results, we can use that to collect even more, and hopefully better, data.

#### "Play" data set

One thing that is important to note is that data is messy. There are always wrong numbers, missing numbers, bad formatting, incorrect labels/names, and many other "messy" problems. But, we need to start somewhere so we'll use an already "clean" data set for practice. A clean data set has removed or fixed missing values, corrected formatting errors, and made sure labels are correct. In other words, it's a data set that's ready to analyze.

#### M&Ms

A [university class](http://stat.pugetsound.edu/hoard/datasetDetails.aspx?id=1) recorded some data on the M&Ms candy. They recorded type (plain, peanut, and peanut butter), color, diameter, and mass. In total they counted over 800 M&Ms so that we could have a fun data set to practice with. (I'm sure they probably ate a few of those M&Ms, too)


So, let's get started! First, we'll go over a mini-tutorial for how to use this "notebook" (that you're reading right now) and introduce some of the basics of the Python programming language.

### The Notebook (not the movie)

This file that you opened (with the .ipynb extension) is called a Jupyter Notebook. This particular one is running a IPython kernel which is the program that runs Python in the notebook. 

#### Text or markdown cell
This "block" that we're reading right now is called a cell. This is a **text cell** and is written in something called "markdown". That's what all of the `###` you might see are for - they are headers and specify the size of the text. 

The cell below is a code cell. Since we're using Python, the code in the cell is Python code.

In [21]:
# This is a code cell.
# The hashtag -> # is used to indicate a comment and is ignored by Python
# But this next line is code and is run by the program

print('Hello world!')

Hello world!

We ran the `print` command above to print everthing between the quote marks. Python also knows how to do math.

In [22]:
# Python loves to do math!

4 + 7

11

In [23]:
# More math

# Set a variable

myvariable = 3 + 5

# Print the value of the variable

print(myvariable)

8

In [1]:
# DO NOT EDIT
# Import libraries

# The pandas library is used for data analysis
import pandas as pd

# Plotting

In [2]:
# Import or "load" our data into the notebook

# "data" is the variable name that we assign to the file "mms.csv"

data = pd.read_csv('mms.csv')

### Explore the data

Now that we've loaded the data, we should explore it! 

What do we want to look at?

* what are the columns?
* how many rows?
* data types: words, numbers, dates, true/false (Boolean)
* number of different items in each column
* whatever seems interesting!

In [4]:
# View the data using the head() method (top of the file)

data.head(10)

            type   color  diameter  mass
0  peanut butter    blue     16.20  2.18
1  peanut butter   brown     16.50  2.01
2  peanut butter  orange     15.48  1.78
3  peanut butter   brown     16.32  1.98
4  peanut butter  yellow     15.59  1.62
5  peanut butter   brown     17.43  2.59
6  peanut butter  yellow     15.45  1.90
7  peanut butter   green     17.30  2.55
8  peanut butter  yellow     16.37  2.07
9  peanut butter    blue     16.67  2.26

In [18]:
# View the "end" of the data

data.tail(10)

       type   color  diameter  mass
806  peanut   brown     15.81  2.83
807  peanut   green     16.05  3.08
808  peanut  orange     15.05  2.81
809  peanut    blue     14.35  2.01
810  peanut  yellow     14.31  2.76
811  peanut     red     15.89  2.63
812  peanut   green     15.48  2.81
813  peanut   green     14.08  2.59
814  peanut     red     15.22  2.69
815  peanut  yellow     16.33  3.04

In [9]:
# Display the general info. about the data:
# number of entries, number of columns, data type

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 4 columns):
type        816 non-null object
color       816 non-null object
diameter    816 non-null float64
mass        816 non-null float64
dtypes: float64(2), object(2)
memory usage: 25.6+ KB

In [19]:
# Look at one column, count how many of each "type"
# (how many M&Ms of each kind)

data['type'].value_counts()

plain            462
peanut butter    201
peanut           153
Name: type, dtype: int64

In [20]:
# Look at another column, count how many of each "color"
# (how many colors are listed)

data['color'].value_counts()

green     153
brown     151
yellow    143
blue      142
orange    128
red        99
Name: color, dtype: int64

In [10]:
data.describe()

         diameter        mass
count  816.000000  816.000000
mean    14.171912    1.419632
std      1.220001    0.714765
min     11.230000    0.720000
25%     13.220000    0.860000
50%     13.600000    0.920000
75%     15.300000    1.930000
max     17.880000    3.620000